#bulk_new_tracked_device.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				%button.close{ type: :button, 'data-dismiss' => 'modal', 'aria-hidden' => 'true' }
					&times;
				%h4.modal-title
					New Tracked Device
			= form_for TrackedDevice.new, url: bulk_create_tracked_device_admin_index_path do |f|
				.modal-body
					.form-group
						= f.label :device_type_id, 'Device Type'
						= f.collection_select :device_type_id, DeviceType.order( :title ), :id, :title, {}, class: 'form-control'
					.form-group
						= label :serial_numbers_csv, 'Serial Numbers (comma separated list)'
						= text_area_tag :serial_numbers_csv, '', class: 'form-control'
					.form-group
						= f.label :make
						= f.text_field :make, class: 'form-control'
					.form-group
						= f.label :model
						= f.text_field :model, class: 'form-control'
					.form-group
						= f.label :version
						= f.text_field :version, class: 'form-control'
				.modal-footer
					%button.btn.btn-default{ type: :button, 'data-dismiss' => 'modal' }
						Close
					= f.submit 'Create', class: 'btn btn-primary'
