


.container-fluid
	.row
		.col-xs-12
			%a{ href: edit_tracked_device_admin_path( @tracked_device ) }
				%i.fa.fa-angle-left
				Back
			%h2
				Select User for #{@tracked_device.device_type.title}
				%small=@tracked_device.serial_number
		.col-xs-6
			= form_tag select_user_tracked_device_admin_path( @tracked_device ), method: :get, class: 'form' do
				.input-group
					= text_field_tag :q, params[:q], class: 'form-control'
					%span.input-group-btn
						= submit_tag 'Search', class: 'btn btn-primary'

		.col-xs-12
			- if @users.blank?
				%div No Results
			- else
				- @users.each do |user|
					.form-group
						= form_for @tracked_device, url: tracked_device_admin_path( @tracked_device ) do |f|
							= f.hidden_field :user_id, value: user.id

							= f.submit 'use', class: 'btn btn-default btn-xs'

							= user.full_name

							- if user = @tracked_device.user
								%strong (current owner)
